---
// UpwardTrend.astro
const { name } = Astro.props;
---

<div style="display: flex; align-items: center">
  <span style="font-size: 20px; color: green;">&#9650;</span>
  <b style="padding-left: 10px;">{name}</b>
</div>
